@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro/sourcesanspro-light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro/sourcesanspro-bold.woff') format('woff');
}
@font-face {
  font-family: 'SFUIText';
  src: local('SFUIText'), local('SFUIText'), url('../fonts/SanFranciscoFont-master/SanFranciscoText-Light.otf') format('woff');
}
@font-face {
  font-family: 'SFUIBT';
  src: local('SFUIBT'), local('SFUIBT'), url('../fonts/SanFranciscoFont-master/a616acbf4e599032727f5ef6f0956cdb.ttf') format('ttf');
}
@font-face {
  font-family: 'SFUITextRes';
  src: local('SFUITextRes'), local('SFUITextRes'), url('../fonts/SanFranciscoFont-master/SanFranciscoText-Regular.otf') format('woff');
}
@font-face {
  font-family: 'SFUITextLight';
  src: local('SFUITextLight'), local('SFUITextLight'), url('../fonts/SanFranciscoFont-master/SanFranciscoText-Light.otf') format('woff');
}