<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="text-center"><i class="fa fa-exclamation-triangle text-danger"></i> You made changes on this template !</h4>
</div>
<div class="modal-body">
	<h5 class="text-center">Do you want to load another template and erase all changes that have been made ?</h5>
	<div class="text-center">
        <a class="btn btn-default" data-ng-click="confirm()">Yes</a>
        <a class="btn btn-default" data-ng-click="cancel()">No</a>
	</div>
</div>